{% extends 'base.html.twig' %}

{% block title %}Project
{% endblock %}
{% block maintitle %}Project Details
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body row">
			<a class="btn btn-primary col-2" href="{{ path('project_index') }}">back to list</a>
			<a class="btn btn-warning col-2 mx-2" href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
			<form class=" form-inline col-2 mr-1">

				<input type="submit" class="btn btn-secondary mx-2" value="Check Similarity" name="check"/>
			</form>
			<a class="btn btn-info col-2 mr-1" href="#" data-toggle="modal" data-target="#action-modal">Action</a>

			<button class="btn btn-success col-2 mr-1 open_document">Open Document</button>
			{{ include('project/_delete_form.html.twig') }}
		</div>


	</div>

	<div class="card">

		<div class="card-header">
			<h3 class="card-title">Detail
			</h3>
			<div class="card-tools"></div>
		</div>
		<div class="card-body">

			<table class="table">
				<tbody>

					<tr>
						<th>Title</th>
						<td>{{ project.title }}</td>


						<th>Status</th>
						{% set status = project.status  %}
						{% set stat = ""  %}
						{% if status == 0 %}
							{% set stat = "Not Checked" %}
						{% elseif status == 1 %}
							{% set stat = "Checked" %}
						{% elseif status == 2 %}
							{% set stat = "Accepted" %}
						{% elseif status == 3 %}
							{% set stat = "Rejected" %}

						{% endif %}
						<td>
							<span class="badge badge-warning">{{ stat }}</span>
						</td>

					</tr>
					<tr>
						<th>Description</th>
						<td colspan="3">{{ project.description }}</td>
					</tr>
					<tr>
						<th>Group</th>
						<td colspan="3">{{ project.ownerGroup ~" ("~ (project.ownerGroup.academicYear ~" -"~ project.ownerGroup.year) ~")"}}</td>
					</tr>

					<tr>
						<th>Uploaded At</th>
						<td>{{ project.uploadedAt ? project.uploadedAt|date('Y-m-d H:iA') : '' }}</td>

						<th>Checked At</th>
						<td>{{ project.checkedAt ? project.checkedAt|date('Y-m-d H:iA') : '' }}</td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>

	{% if project.projectFileDetail %}

		<div class="card card-info">

			<div class="card-header">
				<h3 class="card-title">File Detail</h3>
				{% set file_detail = project.projectFileDetail  %}
			</div>
			<div class="card-body">
				<table class="table table-borderless">
					<tr>
						<td width="20%">Line Count</td>
						<td class=" h2  text-warning">{{file_detail.sentenceCount}}</td>
						<td>Word Count</td>
						<td class=" h2  text-success" style="">{{file_detail.wordCount}}</td>
					</tr>
					<tr>
						<td width="40%">Distinct Words Count</td>
						<td class=" h2 text-info">{{file_detail.distinctWordCount}}</td>
						<td>Paragraph Count</td>
						<td class=" h2  text-primary">not known</td>
					</tr>
					<tr>
						<td width="40%">File Type</td>
						<td class=" h2 text-info">docx</td>
						<td>View File</td>
						<td class=" h2  text-primary">
							<button class="btn btn-success  open_document">Open Document</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	{% endif %}

	<div class="card card-info">

		<div class="card-header">
			<h3 class="card-title">Plagiarism History</h3>

		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Project</th>
						<th>Onwer</th>
						<th>Ac. Year</th>
						<th>Similarity(%)</th>
						<th>Checked At</th>
						<th>Checked By</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody>

					{% for hist in project.similarityHistories  %}
						<tr>
							<td>{{loop.index}}</td>
							<td>{{hist.project}}</td>
							<td>{{hist.project.ownerGroup}}</td>
							<td>{{hist.project.ownerGroup.academicYear}}</td>
							<td>{{hist.similarity}}</td>
							<td>{{ hist.checkedAt ? project.checkedAt|date('Y-m-d H:iA') : '' }}</td>
							<td>{{ hist.checkedBy }}</td>
							<td>
								{# <a class="btn btn-info btn-sm" href="{{ path('project_show', {'id': project.id}) }}">Check Again</a> #}
								<form action="{{path('view_similarity')}}" method="post">
									<input hidden name="check" value="true"/>
									<input hidden name="original" value="{{project.id}}"/>
									<input hidden name="to_be_checked" value="{{hist.project.id}}"/>
									<button class="btn btn-warning btn-sm" type="submit">view content</button>
								</form>
							</td>

						</tr>


					{% else %}
						<div class=" h3 text-red ">No History Found. Check Similarity</div>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="action-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form class="" method="post">
					<div class="row">
					<input hidden name="take_action" value="true" />
						<label class=" col-12">Select Action </label>
							<select name="project_action" class="form-control col-10">
								<option>Select Action</option>
								<option value="2">Accept</option>
								<option value="3">Reject</option>
							</select>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button  class="btn btn-primary" type="submit">Save changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}
	{% block javascripts %}
		<script>

			$('.open_document').click(function () {


var mywindow = window.open('{{ asset("documents/cov.docx") }}', 'viewer');
mywindow.addEventListener('load', function () { // alert('hello');
}, false);

})
		</script>
	{% endblock %}
